# Ignore Python cache files
__pycache__/
*.py[cod]
.gitignore
# Optional: Ignore the encryption key file if it contains sensitive data

package.json
package-lock.json
node_modules/
# Optional: Ignore system/IDE files
.DS_Store
*.swp
*.sublime-workspace
*.vscode/as
static